.left-d {
  /*background: rgb(19, 240, 45);*/
}

.right-d {
  /*background: rgb(223, 181, 32);*/
}

.center-d {
  /*background: rgb(39, 190, 210);*/
}

#hicago {
  font-family: 'Rancho', serif;
  font-size: 100px;
}

.letter {
  font-family: 'Rancho', serif;
  font-size: 100px;
}
