body {
  margin: 0;
  background: #fff;
}

h1 {
    padding: 50px 0;
   font-size: 70px;
   font-family: "Spirax";
   font-style: normal;
   font-weight: 400;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

#form_content {
  background: rgb(0, 0, 0,0.8);
  color: #fff;
  border-radius: 25px;
}

img {
  border: 2px solid;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
}
