@import "https://fonts.googleapis.com/css?family=Spirax";

/* Style for the title*/
h1 {
    padding: 50px 0;
   font-size: 90px;
   font-family: "Spirax";
   font-style: normal;
   font-weight: 400;
   color : #c2a342;
   -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url("../img/texture.png") repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

/* Style for the form content*/
#form_content {
  background: rgb(0, 0, 0,0.8);
  color: #fff;
  border-radius: 25px;
}
