
.cont{
  width: 100%;
  margin: 0 auto;
}

#map_container{
  position: relative;
}

#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
}

/* Input search, for queries ad-hoc*/
input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(43, 92, 201);
    border-radius: 4px;
}
