#charts {
  background: rgb(43, 94, 209);
}

#map {
  height: 540px;
  width:520px;
  border-radius:3%;
  margin-top: 50px;
  margin-bottom: 50px;
}

input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
}
