.every {
   background-image: url("http://cdn.wonderfulengineering.com/wp-content/uploads/2016/01/Chicago-Wallpaper-13.jpg");
   /*background-attachment: fixed;*/
   background-repeat: no-repeat;
   /*filter: grayscale(80%);*/
   padding-bottom: 300px;
   width: 100%;
   height: 100%;
}

.left-d {
  /*background: rgb(19, 240, 45);*/
}

.right-d {
  /*background: rgb(223, 181, 32);*/
}

.center-d {
  /*background: rgb(39, 190, 210);*/
}

#hicago, .letter{
  font-family: 'Rancho', serif;
  font-size: 100px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #000000;
}

p {
  float: left;
}


.image {
  width: 100%;
  height: 100%;
}

.image img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.image:hover img {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
  }

.gray{
  filter: grayscale(100%);
  border: 2px solid;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
}
