{%extends "header.html"%}

{%block header%}
{%endblock%}

{%block body%}
     <div class="row">
         <div class="col s3"></div>
         <div class="col s9">


  <div class="col s12 m4">
    <h5 class="header"># Houses in each comunity </h5>
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>In this graph is shown the number of houses by comunity.</p>
        </div>
        <div class="card-action">
          <a href="#modal1">Click me</a>
        </div>
      </div>
    </div>
  </div>

         </div>
     </div>

     <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <canvas id="chart_bar" ></canvas>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>



{%endblock%}

{%block imports%}
      <!-- ChartJS: (Graphs) -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>

      <script>

   let config_bar = {
       type: 'bar', //bar, line
       data: {
           labels: [{% for item in labels %}
                          "{{item}}",
                      {% endfor %}],
           datasets: [{
               label: '#Houses',
               data: [{% for item in values %}
                              "{{item}}",
                          {% endfor %}],
               borderWidth: 1,
               fill: true,
               backgroundColor: [{% for item in colors %}
                              "{{item}}",
                          {% endfor %}],
               borderColor: "black"
           }]
       },
       options: {
           scales: {
               yAxes: [{
                   ticks: {
                       beginAtZero:true
                   }
               }]
           },
           responsive: true,
           title: {
               display: true,
               text: 'Avaliable Houses to rent by comunity',
               fontFamily: 'Arial',
               position: 'top',
               fullWidth: true
           }
       }
   };


   let context_bar = document.getElementById("chart_bar");
   let mychart_bar = new Chart(context_bar, config_bar);


   // Events
   $("#chart_bar").click(
     function(evt){
       var activePoints = mychart_bar.getElementsAtEvent(evt);
       var first_point = activePoints[0]
       console.log(activePoints)
       if(first_point){
         var num_data_set = first_point._datasetIndex
         var num_index_datum = first_point._index
         var val = config_bar.data.datasets[num_data_set].data[num_index_datum]
         var lab = config_bar.data.labels[num_index_datum]
         console.log(lab + " "+ val)
       }
     }
   );


</script>
      <script src="{{url_for('static',filename='js/chart.js')}}"></script>
      <!-- <script src="{{url_for('static',filename='logic/graphs/bar_graph.js')}}"></script> -->
      <!-- <script src="{{url_for('static',filename='logic/graphs/linear_graph.js')}}"></script> -->
      <!-- <script src="{{url_for('static',filename='logic/graphs/polar_graph.js')}}"></script> -->
      <!-- <script src="{{url_for('static',filename='logic/graphs/radar_graph.js')}}"></script> -->
{%endblock%}
