{%extends "header.html"%}

{%block header%}
    <!-- Data tables styles   -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <style>
      .modal { width: 90% !important; max-height: 80% !important; }
      input:not([type]), input[type=search], textarea.materialize-textarea {
            border-color: blue;
            border-top: blue;
      }
    </style>
    
{%endblock%}

{%block body%}

     <div class="row">
         <div class="col s3"></div>
         <div class="col s9">
           <h3>Charts & Statistics</h3>
          <div class="col s12 m4">

            <div class="card horizontal">
              <div class="card-image">
                <!-- <img src="http://lorempixel.com/100/190/nature/6"> -->
              </div>
            <div class="card-stacked">
            <div class="card-content">
              <h6> <strong>House per Comunity. </strong></h6>
              <p>In this graph is shown the number of houses by comunity.</p>
            </div>
            <div class="card-action">
              <a href="#modal1">Click me</a>
            </div>
            </div>
            </div>
        </div>

        <div class="col s12 m4">

          <div class="card horizontal">
            <div class="card-image">
              <!-- <img src="http://lorempixel.com/100/190/nature/6"> -->
            </div>
          <div class="card-stacked">
          <div class="card-content">
            <h6> <strong>Comunity information. </strong></h6>
            <p>In this table you can seek information of each comunity.</p>
          </div>
          <div class="card-action">
            <a href="#modal2">Click me</a>
          </div>
          </div>
          </div>


      </div>



      <div class="col s12 m4">

        <div class="card horizontal">
          <div class="card-image">
            <!-- <img src="http://lorempixel.com/100/190/nature/6"> -->
          </div>
        <div class="card-stacked">
        <div class="card-content">
          <h6> <strong>Police stations </strong></h6>
          <p>In this table you can seek information about police stations.</p>

        </div>
        <div class="card-action">
          <a href="#modal3">Click me</a>
        </div>
        </div>
        </div>
    </div>


    <div class="col s12 m4">

      <div class="card horizontal">
        <div class="card-image">
          <!-- <img src="http://lorempixel.com/100/190/nature/6"> -->
        </div>
      <div class="card-stacked">
      <div class="card-content">
        <h6> <strong>Cost Rent Per Comunity</strong></h6>
        <p>In this table you can find information about cost of rent  by neighborhood<body>
          comunity <a href="https://www.zumper.com/blog/2015/03/chicago-rent-prices-by-neighborhood-february-2015/">Further information</a>
        </body>.</p>

      </div>
      <div class="card-action">
        <a href="#modal4">Click me</a>
      </div>
      </div>
      </div>
  </div>




         </div>


     </div>

     <!-- Modal Chart Bar -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <canvas id="chart_bar" ></canvas>

        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      <!-- Modal Data Table comunitiens-->
       <div id="modal2" class="modal">
         <div class="modal-content">
           <table id="comunitiesdt" class="table table-bordered table-hover" ></table>
         </div>
         <div class="modal-footer">
           <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
         </div>
       </div>

       <!-- Modal Cost by neighborhood  -->
        <div id="modal3" class="modal">
          <div class="modal-content">
            <h5>Police Information</h5>
            <table id="stationsdt" class="table table-bordered table-hover" >
              <thead>
                <tr>
                  <th>Website</th>
                  <th>Zip</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
              {% for a,b,c in police_stations%}
              <tr>
                <td>"<a href="{{a}}">Web Page</a></td>
                <td>"{{b}}"</td>
                <td>"{{c}}"</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>

       <!-- Modal Data Table stations  -->
        <div id="modal4" class="modal">
          <div class="modal-content">
            <h5>Police Information</h5>
            <table id="stationsdt" class="table table-bordered table-hover" >
              <thead>
                <tr>
                  <th>Name Comunity</th>
                  <th>Cost 1 Bedroom</th>
                  <th>Cost 2 Bedroom</th>
                </tr>
              </thead>
              <tbody>
              {% for a,b,c in cost_neighborhood%}
              <tr>
                <td>{{a}}</td>
                <td>{{b}}</td>
                <td>{{c}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>



{%endblock%}

{%block imports%}
      <!-- ChartJS: (Graphs) -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>

<!-- Bar Graph -->
      <script>

   let config_bar = {
       type: 'bar', //bar, line
       data: {
           labels: [{% for item in labels %}
                          "{{item}}",
                      {% endfor %}],
           datasets: [{
               label: '#Houses',
               data: [{% for item in values %}
                              "{{item}}",
                          {% endfor %}],
               borderWidth: 1,
               fill: true,
               backgroundColor: [{% for item in colors %}
                              "{{item}}",
                          {% endfor %}],
               borderColor: "black"
           }]
       },
       options: {
           scales: {
               yAxes: [{
                   ticks: {
                       beginAtZero:true
                   }
               }]
           },
           responsive: true,
           title: {
               display: true,
               text: 'Avaliable Houses to rent by comunity',
               fontFamily: 'Arial',
               position: 'top',
               fullWidth: true
           }
       }
   };


   let context_bar = document.getElementById("chart_bar");
   let mychart_bar = new Chart(context_bar, config_bar);


   // Events
   $("#chart_bar").click(
     function(evt){
       var activePoints = mychart_bar.getElementsAtEvent(evt);
       var first_point = activePoints[0]
       console.log(activePoints)
       if(first_point){
         var num_data_set = first_point._datasetIndex
         var num_index_datum = first_point._index
         var val = config_bar.data.datasets[num_data_set].data[num_index_datum]
         var lab = config_bar.data.labels[num_index_datum]
         console.log(lab + " "+ val)
       }
     }
   );


</script>

      <!-- Data Tables necessary -->
      <script type="text/javascript" charset="utf8"  src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
      <script defer src="{{url_for('static',filename='logic/request_comunities.js')}}"></script>
      <script src="{{url_for('static',filename='js/chart.js')}}"></script>

{%endblock%}
