{%extends "header.html"%}


{%block header%}
  <link rel="stylesheet" href="{{url_for('static',filename='css/content.css')}}">
  <!--  Progress bars-->
  <link rel="stylesheet" href="{{url_for('static',filename='css/w3.css')}}">

  <style>
    .modal { width: 30% !important;}
    .map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        padding-right: 5px;
        overflow: hidden;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
      }
      /* Display the control once it is inside the map. */
      #map .map-control { display: block; overflow: hidden; }

      .selector-control {
        font-size: 14px;
        line-height: 30px;
        vertical-align: baseline;
      }
      html, body {
        overflow: hidden;
      }
  </style>

{%endblock%}

{%block body%}
  <div class="cont">
  <div id="map_container"></div>
  <div id="style-selector-control" class="map-control">
      <!-- Checkbox police stations -->
      <input type="checkbox" name="show-hide" id="show-police"
          class="selector-control filled-in" checked="checked">
      <label for="show-police">Police stations</label>
      <!-- Checkbox Parks -->
      <input type="checkbox" name="show-hide" id="show-parks"
          class="selector-control filled-in" checked="checked">
      <label for="show-parks">Parks</label>
      <!--  Checkbox Hospitals-->
      <input type="checkbox" name="show-hide" id="show-hosp"
          class="selector-control filled-in" checked="checked">
      <label for="show-hosp">Hospitals</label>
      <!--  Checkbox Libraries-->
      <input type="checkbox" name="show-hide" id="show-libs"
          class="selector-control filled-in" checked="checked">
      <label for="show-libs">Libraries</label>
      <!--  Checkbox clustering-->
      <input type="checkbox" name="show-hide" id="show-clust"
          class="selector-control filled-in" checked="checked">
      <label for="show-clust">Clustering</label>

  </div>
  <div id="map"></div>
  </div>

 <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <p id="address"></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
{%endblock%}


{%block imports%}
<!-- Google maps; Application Programing Interface -->
<script src="{{url_for('static',filename='js/markerclusterer.js')}}"></script>
<!-- Send a request for the weather -->
<script defer src="{{url_for('static',filename='logic/request_weather.js')}}"></script>
<!--  Functions in the map: use functions in request_weather.js-->
<script defer src="{{url_for('static',filename='logic/map_google.js')}}"></script>
<!--  Create markers: use variables in map_google_js-->
<script defer src="{{url_for('static',filename='logic/create_marquers.js')}}"></script>

<!--  Google maps: Fetche the map and trigger initMap-->
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb99FLUn8cdkxbdSRZ-cBbZFlz9v33db8&libraries=places&callback=initMap"></script>
<!-- jQuery: Request API -->
<script defer  src="{{url_for('static',filename='logic/request_location_houses.js')}}"></script>
<script defer src="{{url_for('static',filename='logic/request_locations_police_stations.js')}}"></script>
<script defer src="{{url_for('static',filename='logic/request_parks.js')}}"></script>
<script defer src="{{url_for('static',filename='logic/request_health_centers.js')}}"></script>
<script defer src="{{url_for('static',filename='logic/request_libraries.js')}}"></script>

<script src="{{url_for('static',filename='js/content.js')}}"></script>
{%endblock%}
