{%extends "header.html"%}


{%block header%}
<!-- Data tables styles   -->
<link rel="stylesheet" href="{{url_for('static',filename='css/jquery.dataTables.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/content.css')}}">
{%endblock%}

{%block body%}
<div class="container-fluid">

    <!-- DATA  -->
    <div class="charts" >
        <!-- TABLE WITH THE DATA -->

        <div class="col-md-6" style="float:left; ">
            <!-- <div class="table-responsive"> -->
            <strong> Results of possible flats </strong>
            <div class="input-group">
              <table id="table_datasets" class="table table-bordered table-hover"></table>
            </div>
            <!-- </div> -->
        </div>

        <!-- MAP WITH THE DATA -->
        <div class="col-md-6" style="float:left;">
          <strong>Map with the information</strong>
            <div class="col-md-10" id="map"></div>
        </div>
    </div>

</div>
{%endblock%}



{%block imports%}
<!-- Datatables: (Print Data) -->
<script type="text/javascript" charset="utf8" src="{{url_for('static',filename='js/jquery.dataTables.min.js')}}"></script>
<!-- Google maps; Application Programing Interface -->
<script defer src="{{url_for('static',filename='logic/map_google.js')}}"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSaP-yNmxveks9F0c-ylR8R2yXt6356f4&v=3.20&callback=initMap"></script>
<!-- jQuery: Request API -->
<script defer src="{{url_for('static',filename='logic/request_datasets.js')}}"></script>
<script defer src="{{url_for('static',filename='logic/request_api.js')}}"></script>
{%endblock%}
