<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Dashboard">
      <meta name="author" content="Daniel Santos">
      <title>Visualization</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" type='image/x-icon' href="{{url_for('static',filename='img/favicon.ico')}}">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
      <style>
          #logo {
            padding-left: 40px;
            padding-top: 20px;
          }
      </style>
      {%block header%}
      {%endblock%}
   </head>
   <body>
      <header>
         <ul id="nav-mobile" class="side-nav fixed">
            <a href="/"><img class="img-responsive" id="logo" src="{{url_for('static',filename='img/logo_header.png')}}" /></a>
            <!-- <li class="bold"><a href="/" class="waves-effect waves-teal"><i class="material-icons left">home</i>Home</a></li> -->
            <li class="bold"><a href="/content/" class="waves-effect waves-teal"><i class="material-icons left">place</i>Find a place</a></li>
            <li class="bold"><a href="/charts/" class="waves-effect waves-teal"><i class="material-icons left">show_chart</i>Information of interest</a> </li>
            <li class="bold"><a href="/recommend/" class="waves-effect waves-teal"> <span class="new badge blue"></span> <i class="material-icons left">touch_app</i>Advice</a></li>
            <li class="bold"><a href="/about/" class="waves-effect waves-teal"><i class="material-icons left">card_travel</i>Meet Chicago</a></li>

            <li >
              <div id="weather" >
                <div class="col s9">
                    <div class="card horizontal cyan lighten-2">
                      <div class="card-stacked">
                        <div class="card-content">
                        <h6> <strong>Click a marker with a house.</strong></h6>
                      </div>
                      </div>
                    </div>
                </div>
              </div>

            </li>

            <li class="no-padding">
              <center><img class="img-responsive"  width="210px" src="{{url_for('static',filename='img/conventionsm.png')}}" /><br>
              <img class="img-responsive"   src="{{url_for('static',filename='img/convention-health-center.png')}}" />
              <img class="img-responsive"   src="{{url_for('static',filename='img/convention-library.png')}}" />
              <img class="img-responsive"   src="{{url_for('static',filename='img/convention-park.png')}}" />
              <img class="img-responsive"   src="{{url_for('static',filename='img/convention-police-station.png')}}" /></center>
            </li>


             <a href="https://github.com/xdanielsb" target="_blank"> <span><img style="float:left:" src="{{url_for('static',filename='img/github-box.png')}}" /> </span>GitHub</a>
             <a href="https://www.youtube.com/watch?v=q1zJT8Zg_mk" target="_blank"><i class="material-icons ">help</i> Help & FAQ</a>

         </ul>

      </header>
      {%block body%}
      <div class="col-md-10" id="map"></div>
      {%endblock%}
      <!-- jQuery: (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
      <!-- Materialize: -->
      <script src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
      <!-- Menu -->
      <script src="{{url_for('static',filename='js/menu.js')}}"></script>
      <script>
         $(".collapsible-body").collapsible();
      </script>
      {%block imports%}
      {%endblock%}

      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-97608126-1', 'auto');
          ga('send', 'pageview');
      </script>

   </body>
</html>
