{%extends "header.html"%}

{%block header%}

{%endblock%}

{%block body%}
<div class="row">
<div class="col s3"></div>
  <div class="col s9 ">
      <center><h5>5 Nearest places</h5></center>
      <div class="row">
        <div class="col s6 "  style="">
          <table id="nearestdt" class="" >
          <thead>
              <tr>
                <!-- ["address", "community_area_number", "community_area", "phone_number", "property_name", "property_type", "zip_code", "distance", "latitude", "longitude"] -->
                <th>Distance (km)</th>
                <th>Phone Number</th>
                <th>Property name</th>
              <!-- <th>Zip code</th> -->
              </tr>
            </thead>
            <tbody>
            {% for a,b,c,d,f,g,h,i,j,k in nearest_places%}
            <tr>
              <td>{{i}}</td>
              <td>{{d}}</td>
              <td>{{f}}</td>
              <!-- <td>{{h}}</td> -->
            </tr>
            {% endfor %}
            </tbody>
          </table>


        </div>

        <div  class="col s6" style="">
          <!-- Chart Nearest places -->
          <canvas  id="chart_polar"></canvas>
        </div>

      </div>

  <!--  SECOND -->
      <div class="row">
        <center><h5>5 Cheapest Neighborhoods</h5></center>
        <div class="col s6"  style="" >
            <canvas  id="chart_bar"></canvas>
        </div>
        <div   class="col s6"  style="">

          <table id="nearestdt" class="" >
          <thead>
              <tr>
                <!-- ["address", "community_area_number", "community_area", "phone_number", "property_name", "property_type", "zip_code", "distance", "latitude", "longitude"] -->
                <th>Address</th>
                <th>Cost 1-bedroom</th>
                <th>Cost 2-bedroom</th>
              <!-- <th>Zip code</th> -->
              </tr>
            </thead>
            <tbody>
            {% for a,b,c in cheapest_places%}
            <tr>
              <td>{{a}}</td>
              <td>{{b}}</td>
              <td>{{c}}</td>
              <!-- <td>{{h}}</td> -->
            </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
</div>

</div>

{%endblock%}

{%block imports%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>

<script>
// Data configuration
//let bcolors = ["#FF6384","#4BC0C0","#FFCE56","#E7E9ED","#36A2EB","rgb(36, 250, 17)"]

var config_line = {
  type: 'polarArea', //bar, line
  data: {
      labels: [{% for a,b,c,d,f,g,h,i,j,k in nearest_places %}
                     "{{f}}",
                 {% endfor %}],
      datasets: [{
          label: '# of  People',
          data: [{% for a,b,c,d,f,g,h,i,j,k in nearest_places %}
                         "{{i}}",
                     {% endfor %}],
          borderWidth: 1,
          fill: false,
          backgroundColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                    ],
          borderColor: "black"
      }]
  },
 options: {
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero:true
              }
          }]
      },
      responsive: true,
      title: {
          display: true,
          text: 'Custom Line Chart',
          fontFamily: 'Arial',
          position: 'top',
          fullWidth: true
      },
      legend: {
          display:true,
          position: 'top'
      }
  }
};
//Initialize

var ctx_line = document.getElementById("chart_polar");
var ch_line = new Chart(ctx_line, config_line);

// Events
$("#chart_polar").click(
function(evt){
  var activePoints = ch_line.getElementsAtEvent(evt);
  var first_point = activePoints[0]
  console.log(activePoints)
  if(first_point){
    var num_data_set = first_point._datasetIndex
    var num_index_datum = first_point._index
    var val = config_line.data.datasets[num_data_set].data[num_index_datum]
    var lab = config_line.data.labels[num_index_datum]
    console.log(lab + " "+ val)
  }
}
);


var config_bar = {
    type: 'bar', //bar, line
    data: {
        labels: [{% for a,b,c in cheapest_places %}
                       "{{a}}",
                   {% endfor %}],
        datasets: [{
            label: '# Cost 1 bedroom',
            data: [{% for a,b,c in cheapest_places %}
                           "{{b}}",
                       {% endfor %}],
            borderWidth: 1,
            fill: true,
            backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
            borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                      ]
        }, {
            label: '# Cost 2 bedrooms',
            data: [{% for a,b,c in cheapest_places %}
                           "{{c}}",
                       {% endfor %}],
            borderWidth: 1,
            fill: true,
            backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
            borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                      ]
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        responsive: true,
        title: {
            display: true,
            text: 'Custom Bar Chart',
            fontFamily: 'Arial',
            position: 'top',
            fullWidth: true
        }
    }
};


var ctx2 = document.getElementById("chart_bar");
var myChart2 = new Chart(ctx2, config_bar);



// Events
$("#chart_bar").click(
  function(evt){
    var activePoints = myChart2.getElementsAtEvent(evt);
    var first_point = activePoints[0]
    console.log(activePoints)
    if(first_point){
      var num_data_set = first_point._datasetIndex
      var num_index_datum = first_point._index
      var val = config_line.data.datasets[num_data_set].data[num_index_datum]
      var lab = config_line.data.labels[num_index_datum]
      console.log(lab + " "+ val)
    }
  }
);

</script>

{%endblock%}
