{%extends "header.html"%}

{%block header%}

{%endblock%}

{%block body%}
<div class="row">
<div class="col s3"></div>
  <div class="col s9 ">
      <center><h5>5 Nearest places</h5></center>
      <div class="row">
        <div class="col s6 "  style="">
          <table id="nearestdt" class="" >
          <thead>
              <tr>
                <!-- ["address", "community_area_number", "community_area", "phone_number", "property_name", "property_type", "zip_code", "distance", "latitude", "longitude"] -->
                <th>Distance (km)</th>
                <th>Phone Number</th>
                <th>Property name</th>
              <!-- <th>Zip code</th> -->
              </tr>
            </thead>
            <tbody>
            {% for a,b,c,d,f,g,h,i,j,k in nearest_places%}
            <tr>
              <td>{{i}}</td>
              <td>{{d}}</td>
              <td>{{f}}</td>
              <!-- <td>{{h}}</td> -->
            </tr>
            {% endfor %}
            </tbody>
          </table>


        </div>

        <div  class="col s6" style="">
          <!-- Chart Nearest places -->
          <canvas  id="chart_polar"></canvas>
        </div>

      </div>

      <div class="row">
        <div class="col s6"  style="background: rgb(52, 182, 45)" >
          <h4>5 Cheapest places</h4>
          <!--  A table, I think-->
        </div>
        <div   class="col s6"  style="background: rgb(173, 16, 47)">
          <h4>Chart Dataset</h4>
          <!--  Chart cheapest places-->
          <canvas  id="chart_polar"></canvas>
        </div>
      </div>
</div>

</div>

{%endblock%}

{%block imports%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>

<script>
// Data configuration
let data_values = [12, 19, 3, 5, 2, 3]
let data_labels = ["Daniel", "Julian", "Ana", "Polo", "Erika", "Felipe"]
let bcolors = ["#FF6384","#4BC0C0","#FFCE56","#E7E9ED","#36A2EB","rgb(36, 250, 17)"]

var config_line = {
  type: 'polarArea', //bar, line
  data: {
      labels: data_labels,
      datasets: [{
          label: '# of  People',
          data: data_values,
          borderWidth: 1,
          fill: false,
          backgroundColor: bcolors,
          borderColor: "black"
      }]
  },
 options: {
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero:true
              }
          }]
      },
      responsive: true,
      title: {
          display: true,
          text: 'Custom Line Chart',
          fontFamily: 'Arial',
          position: 'top',
          fullWidth: true
      },
      legend: {
          display:true,
          position: 'top'
      }
  }
};
//Initialize

var ctx_line = document.getElementById("chart_polar");
var ch_line = new Chart(ctx_line, config_line);

// Events
$("#chart_polar").click(
function(evt){
  var activePoints = ch_line.getElementsAtEvent(evt);
  var first_point = activePoints[0]
  console.log(activePoints)
  if(first_point){
    var num_data_set = first_point._datasetIndex
    var num_index_datum = first_point._index
    var val = config_line.data.datasets[num_data_set].data[num_index_datum]
    var lab = config_line.data.labels[num_index_datum]
    console.log(lab + " "+ val)
  }
}
);
</script>

{%endblock%}
